/* tooltip.css */

.clickbait-checker-tooltip-root {
  position: absolute;
  top: 104px;
  right: 8px;
  width: 36px;
  height: 36px;

  color: #fff;
  background: rgba(0,0,0,0.6);
  animation: var(--inline-player-button-animation);
  border-radius: 50%;
  cursor: pointer;
  z-index: 30;
}

.clickbait-checker-tooltip-root-active {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;

  color: #fff;
  background: rgba(0,0,0,0.6);
  /* animation: var(--inline-player-button-animation); */
  /* border-radius: 50%; */
  cursor: pointer;
  z-index: 30;
}

.clickbait-checker-tooltip {
  padding: 8px;
  font-size: 14px;
}

.clickbait-checker-tooltip-result {
  font-weight: 500;
}

.clickbait-checker-raiting {
  font-weight: bold;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 16px;
}

.clickbait-checker-spinner-root {
  position: relative;
}

.clickbait-checker-spinner {
  width: 20px !important;
  height: 20px !important;
  margin-left: -10px !important;
  margin-top: 8px !important;
}

/* .tooltip {
  position: absolute;
  z-index: 9999;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  font-size: 14px;
}

.tooltip::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
} */
